/* -------------- VARIABLES & MIXINS -------------- */
/* mixin with mulitple variables for card bg images */
/* .bg_img(@url, @size, @position) {
  background-image: url(@url);
  background-size: @size;
  background-position: @position;
} */
/* -------------- GLOBAL STYLES -------------- */
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  /*   -webkit-font-smoothing: antialiased; */
  /*   margin: 0; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:afer {
  clear: both;
}
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
/* -------------- BANNER STYLES -------------- */
.banner {
  padding: 5em 0;
}
.banner .logo {
  float: left;
}
.banner h1 {
  color: #414148;
  text-align: right;
  font-size: 5em;
  display: inline;
  float: right;
  margin: 0;
}
/* -------------- LOGO STYLES -------------- */
.logo {
  background: #ca48eb;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  /* centers the logo text text verically in the pink circle */
  text-align: center;
  color: #ffffff;
  font-size: 1.1em;
  font-family: 'Inknut Antiqua', serif;
}
/* -------------- CARD STYLES -------------- */
.work {
  background: #414148;
  padding: 5em 0;
  margin-top: 18em;
}
.work .card {
  background: #ffffff;
  border-radius: .35em;
  height: 450px;
  display: table;
  background-repeat: no-repeat;
}
.work .card_full {
  width: 100%;
}
.work .card_1 {
  background-image: url(./images/img1.jpg);
  background-size: 100%;
  background-position: 100px 100px;
}
.work .card_inner {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 1.5em 12%;
}
.work .pink {
  background: rgba(230, 56, 222, 0.6);
}
