/* -------------- VARIABLES -------------- */

@pink: #ca48eb;
@white: #ffffff;
@grey: #414148;

/* mixin with mulitple variables for card bg images */


/* -------------- GLOBAL STYLES -------------- */

* {
  box-sizing: border-box; 
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:afer {
  clear: both; 
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/* -------------- BANNER STYLES -------------- */

.banner {
  padding: 5em 0;
  .logo {
    float: left;
  }
  h1 {
    color: @grey; 
    text-align: right;
    font-size: 5em;
    display: inline;
    float: right;
    margin: 0;
  }
}




/* -------------- LOGO STYLES -------------- */

.logo {
  background: @pink;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  line-height: 75px;  /* centers the logo text text verically in the pink circle */
  text-align: center;
  color: @white;
  font-size: 1.1em;
  font-family: 'Inknut Antiqua', serif;
}



/* -------------- CARD STYLES -------------- */

.work {
  background: @grey;
  padding: 5em 0;
  .card {
    background: @white;
    border-radius: .35em;
    height: 450px;
    display: table;
  }
  .card_full {
    width: 100%; 
  }
  .card_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 12%;
  }
  .pink {
    background: rgba(230,56,22,.6); 
  }
}



